.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container{
  width: 80%;
  margin: auto;
}

.userName{
  color: #5b70ff;
  font-size: 1.2em;
}

.users-Select{
  width: 120px;
  /*display: inline-block;*/
  /*float: left;*/

}

.Users-Table-Pagination{
  margin: auto;
  text-align:center;
}

.allUsers{
  display: inline-block;
  float: left;
}
.form-warnings{
  display: inline-block;
  color: red;
  margin-left: 40px;
}