body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*.user__Name, .user__Email, .user__Phone, .user__WorkPlace{*/
  /*display: inline-block;*/
  /*float: left;*/
/*}*/

/*.article{*/
  /*display: block;*/
/*}*/